@import url(calendar.css);
@import url(HTMLTable.css);
@import url(MovieSearch.css);
@import url(ContentViewer.css);
@import url(gallery.css);

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.noSpaces {
	margin: 0;
	padding: 0;
}

.spacesBottom {
	margin: 0;
	padding: 0;
	
	margin-bottom: 10px;
}

.smallFont {
	font-size: 14px;
}

.noBorder {
	border: none;
}